<div data-aos="fade-down">
	<div class="row">
		<div class="col-lg-12">
			<div class="row justify-content-center">
				<div class="col-sm-12 col-md-12 col-lg-12">
					{{# if danger.length }}
						{{# each danger }}
							<div class="alert alert-danger alert-dismissible">
								<strong><i class="fa fa-exclamation-circle"></i> Message:</strong> {{this}}
								<a href="#" class='close' data-dismiss="alert" aria-label="close"><i class='fa fa-times'></i></a>
							</div>
						{{/each}}
					{{/if}}
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<div class="row justify-content-center">
				<div class="col-sm-12 col-md-12 col-lg-12">
					{{# if success.length }}
						{{# each success }}
							<div class="alert alert-success alert-dismissible">
								<strong><i class="fa fa-exclamation-circle"></i> Message:</strong> {{this}}
								<a href="#" class='close' data-dismiss="alert" aria-label="close"><i class='fa fa-times'></i></a>
							</div>
						{{/each}}
					{{/if}}
				</div>
			</div>
		</div>
	</div>
</div>