<section class="section single-wrapper">
  <div class="container h-100">
    <div class="row align-items-center">
      <div class="col-12">
        		
		<div class="row" data-aos="fade-down">
			<div class="col-md-4 offset-md-4 text-center">
				<div class="section-header text-center">
					<h2 class="title">Linking account</h2>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="wide-form col-md-8">
				{{> messages}}
				<input type="hidden" name="_csrf" value="{{csrfToken}}">
			</div>
		</div>
		
		<div class="row" data-aos="fade-down">
			<div class="narrow-form">
				<form action="/auth/local" method="POST" onsubmit="requestHandler()">
					<div class="form-group">
						<div class="input-group">                
							<span class="input-group-addon" id="basic-addon1"><span class="fa fa-user"></span></span>
							<input class="form-control" id="username" name="username" type="text" placeholder="Username *" required="required" data-validation-required-message="Please enter your username." pattern=".{5,25}" title="Must between 5-25 characters">
						</div>
					</div>
					<div class="form-group">
						<div class="input-group">                
							<span class="input-group-addon" id="basic-addon1"><span class="fa fa-envelope"></span></span>
							<input class="form-control" id="email" name="email" type="email" placeholder="Email *" required="required" data-validation-required-message="Please enter your email.">
						</div>
					</div>
					<div class="form-group">
						<div class="input-group">
							<span class="input-group-addon" id="basic-addon1"><span class="fa fa-lock"></span></span>
							<input class="form-control" id="password" name="password" type="password" placeholder="Password *" required="required" data-validation-required-message="Please enter your password." pattern="(?=.*?[0-9])(?=.*[a-z])(?=.*[A-Z])(?=.*?[#?!@$%^&*-]).{5,30}" title="Must contain at least 1 number, one upper case letter, 1 lower case letter, 1 special character, and must between 5-30 characters" onChange="onChangePassword()">
						</div>
					</div>
					<div class="form-group">
						<div class="input-group">
							<span class="input-group-addon" id="basic-addon1"><span class="fa fa-lock"></span></span>
							<input class="form-control" id="confirmPassword" name="confirmPassword" type="password" placeholder="Password again *" required="required" data-validation-required-message="Please reenter your password." onChange="onChangePassword()">
						</div>
					</div>
					<div class="form-group text-left">
						<input type="checkbox" required="required"> 
						I accept the <a href="#">terms of conditions</a>, the <a href="#">privacy policy</a> and the <a href="#">cookie policy</a>. 
					</div>
					<div class="form-group">
						<button id="sendLoginButton" class="btn btn-success btn-block login-btn" type="submit">Register</button>
					</div>
					<div class="clearfix">
						<a href="/recoveremail" class="float-left">Expired email verification link?</a>
					</div>
				</form>
			</div>
		</div>
      </div>
    </div>
  </div>
</section>