<section class="section single-wrapper">
	<div class="container">
		{{> messages}}
		<div class="row">
			<div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
				<div class="page-wrapper">
					<div class="blog-top clearfix" data-aos="fade-right">
						<h4 class="pull-left">Posts</h4>
					</div><!-- end blog-top -->
					<div class="blog-list clearfix">
						<div class="blog-box row" data-aos="fade-right">
							<div class="col-md-4">
								<div class="post-media">
									<a href="#" title="">
										<img src="/upload/tech_blog_01.jpg" alt="" class="img-fluid">
										<div class="hovereffect"></div>
									</a>
								</div><!-- end media -->
							</div><!-- end col -->

							<div class="blog-meta big-meta col-md-8">
								<h4><a style="color: #111111;" href="/demopost" title="">Top 10 phone applications and 2017 mobile design awards</a></h4>
								<p>Aenean interdum arcu blandit, vehicula magna non, placerat elit. Mauris et pharetratortor. Suspendissea sodales urna. In at augue elit. Vivamus enim nibh, maximus ac felis nec, maximus tempor odio.</p>
								<small class="firstsmall"><a class="bg-orange" href="#" title="">Reviews</a></small>
								<small><a href="#" title="">21 July, 2017</a></small>
								<small><a href="#" title="">by Matilda</a></small>
								<small><a href="#" title=""><i class="fa fa-eye"></i> 1114</a></small>
							</div><!-- end meta -->
						</div><!-- end blog-box -->

						<hr class="invis">

						<div class="blog-box row" data-aos="fade-right">
							<div class="col-md-4">
								<div class="post-media">
									<a href="#" title="">
										<img src="/upload/tech_blog_02.jpg" alt="" class="img-fluid">
										<div class="hovereffect"></div>
									</a>
								</div><!-- end media -->
							</div><!-- end col -->

							<div class="blog-meta big-meta col-md-8">
								<h4><a style="color: #111111;" href="/demopost" title="">A device you can use both headphones and usb</a></h4>
								<p>Aenean interdum arcu blandit, vehicula magna non, placerat elit. Mauris et pharetratortor. Suspendissea sodales urna. In at augue elit. Vivamus enim nibh, maximus ac felis nec, maximus tempor odio.</p>
								<small class="firstsmall"><a class="bg-orange" href="#" title="">Reviews</a></small>
								<small><a href="#" title="">21 July, 2017</a></small>
								<small><a href="#" title="">by Matilda</a></small>
								<small><a href="#" title=""><i class="fa fa-eye"></i> 4412</a></small>
							</div><!-- end meta -->
						</div><!-- end blog-box -->

						<hr class="invis">

						<div class="blog-box row" data-aos="fade-right">
							<div class="col-md-4">
								<div class="post-media">
									<a href="#" title="">
										<img src="/upload/tech_blog_03.jpg" alt="" class="img-fluid">
										<div class="hovereffect"></div>
									</a>
								</div><!-- end media -->
							</div><!-- end col -->

							<div class="blog-meta big-meta col-md-8">
								<h4><a style="color: #111111;" href="/demopost" title="">Two brand new laptop models from ABC computer</a></h4>
								<p>Aenean interdum arcu blandit, vehicula magna non, placerat elit. Mauris et pharetratortor. Suspendissea sodales urna. In at augue elit. Vivamus enim nibh, maximus ac felis nec, maximus tempor odio.</p>
								<small class="firstsmall"><a class="bg-orange" href="#" title="">Reviews</a></small>
								<small><a href="#" title="">20 July, 2017</a></small>
								<small><a href="#" title="">by Matilda</a></small>
								<small><a href="#" title=""><i class="fa fa-eye"></i> 2313</a></small>
							</div><!-- end meta -->
						</div><!-- end blog-box -->

						<hr class="invis">

						<div class="blog-box row" data-aos="fade-right">
							<div class="col-md-4">
								<div class="post-media">
									<a href="#" title="">
										<img src="/upload/tech_blog_04.jpg" alt="" class="img-fluid">
										<div class="hovereffect"></div>
									</a>
								</div><!-- end media -->
							</div><!-- end col -->

							<div class="blog-meta big-meta col-md-8">
								<h4><a style="color: #111111;" href="/demopost" title="">Applications for taking photos of nature in your mobile phones</a></h4>
								<p>Aenean interdum arcu blandit, vehicula magna non, placerat elit. Mauris et pharetratortor. Suspendissea sodales urna. In at augue elit. Vivamus enim nibh, maximus ac felis nec, maximus tempor odio.</p>
								<small class="firstsmall"><a class="bg-orange" href="#" title="">Reviews</a></small>
								<small><a href="#" title="">19 July, 2017</a></small>
								<small><a href="#" title="">by Matilda</a></small>
								<small><a href="#" title=""><i class="fa fa-eye"></i> 4441</a></small>
							</div><!-- end meta -->
						</div><!-- end blog-box -->

						<hr class="invis">

						<div class="blog-box row" data-aos="fade-right">
							<div class="col-md-4">
								<div class="post-media">
									<a href="#" title="">
										<img src="/upload/tech_blog_05.jpg" alt="" class="img-fluid">
										<div class="hovereffect"></div>
									</a>
								</div><!-- end media -->
							</div><!-- end col -->

							<div class="blog-meta big-meta col-md-8">
								<h4><a style="color: #111111;" href="/demopost" title="">Say hello to colored strap models in smart hours</a></h4>
								<p>Aenean interdum arcu blandit, vehicula magna non, placerat elit. Mauris et pharetratortor. Suspendissea sodales urna. In at augue elit. Vivamus enim nibh, maximus ac felis nec, maximus tempor odio.</p>
								<small class="firstsmall"><a class="bg-orange" href="#" title="">Reviews</a></small>
								<small><a href="#" title="">18 July, 2017</a></small>
								<small><a href="#" title="">by Matilda</a></small>
								<small><a href="#" title=""><i class="fa fa-eye"></i> 33312</a></small>
							</div><!-- end meta -->
						</div><!-- end blog-box -->

						<hr class="invis">

						<div class="blog-box row" data-aos="fade-right">
							<div class="col-md-4">
								<div class="post-media">
									<a href="#" title="">
										<img src="/upload/tech_blog_06.jpg" alt="" class="img-fluid">
										<div class="hovereffect"></div>
									</a>
								</div><!-- end media -->
							</div><!-- end col -->

							<div class="blog-meta big-meta col-md-8">
								<h4><a style="color: #111111;" href="/demopost" title="">How about evaluating your old mobile phones in different ways?</a></h4>
								<p>Aenean interdum arcu blandit, vehicula magna non, placerat elit. Mauris et pharetratortor. Suspendissea sodales urna. In at augue elit. Vivamus enim nibh, maximus ac felis nec, maximus tempor odio.</p>
								<small class="firstsmall"><a class="bg-orange" href="#" title="">Reviews</a></small>
								<small><a href="#" title="">17 July, 2017</a></small>
								<small><a href="#" title="">by Matilda</a></small>
								<small><a href="#" title=""><i class="fa fa-eye"></i> 4440</a></small>
							</div><!-- end meta -->
						</div><!-- end blog-box -->

					</div><!-- end blog-list -->
					
					<hr class="invis">
					
					{{> pagination}}
					
					<hr class="invis">
					
					<div class="row" data-aos="fade-up">
						<div class="col-lg-12">
							<div class="banner-spot clearfix">
								<div class="banner-img">
									<img src="/upload/banner_01.jpg" alt="" class="img-fluid">
								</div><!-- end banner-img -->
							</div><!-- end banner -->
						</div><!-- end col -->
					</div><!-- end row -->

					<hr class="invis">
					
				</div><!-- end page-wrapper -->
				
			</div><!-- end col -->
			
			{{> sidebar}}
			
		</div><!-- end row -->
	</div><!-- end container -->
</section>

<!-- Footer -->

{{> footer}}